#theLogo {
		float: left;
		width: 2.7em;
		height: 2.7em;
		cursor: pointer;
		z-index: 104;
		img{ height: 100%;cursor: pointer;}
}

//MIXINS
@mixin container-mx {
		position: relative;
		top:0;
		margin: 0;
		width: 100%;
		max-width: 100vw;
		overflow: hidden;
}

@mixin topBar-mx {
			position: absolute;
			top: 2.75em;
			left: 5%;
			right: 5%;
			min-height: 20vh;
			z-index: 50;
			&:before{content: " "; display: table;}
			&:after{content: " "; display: table;clear: both;*zoom: 1;}

			@media (max-width: 400px){
				left: 2.5%;
				right: 2.5%;
			}
}

@mixin fixed-mx {
		position: relative;
		margin: 0 auto;
		width: 100%;
		max-width: 80vw;
		min-height: 50vh;
		@media (max-width: 800px) {max-width: 80vw;}
		@media (max-width: 400px) {max-width: 90vw;}
}

@mixin fluid-mx {
		position: relative;
		margin: 0 auto;
		width: 100%;
		max-width: 100vw;
		min-height: 50vh;
}

@mixin heroTxt-mx {
		position: relative;
		width: 70%;
		height: 40em;
		padding: 30vh 0.5em 0 0.5em;
		margin: auto;
		@media (max-width: 800px){width: 75%;}
		@media (max-width: 400px){width: 85%;}
}

@mixin pad-mx {
	padding: 1.5em;
	@media (max-width: 800px){padding: 1.75em;}
	@media (max-width: 400px){padding: 2.5em;}
}
@mixin h-800-mx {
	height: 50.000em;
}